defaults:
  - logging: logging_defaults
  - dataset: dataset_defaults

observation_dim: 12
action_dim: 6


seed: 42
save_model: false
batch_size: 32
num_workers: 4


# Architecture & policy hyperparameters
hidden_dim: 256
orthogonal_init: false

policy_obs_proj_arch: '256-256-256-256'
policy_out_proj_arch: '256-256-256-256'
policy_log_std_multiplier: 1.0
policy_log_std_offset: -1.0
train_policy_backbone: false


learning_rate: 3e-4
train_bc_epochs: 100

torch_compile_mode: "max-autotune"

save_every_n_epoch: 20
ckpt_path: ./checkpoints
load_ckpt_path: ""

device: cuda:0